# Copy to .env and fill in Docker Hub password before starting Jenkins
DOCKERHUB_USER=alansibi
DOCKERHUB_PASS=
DOCKER_GID=115
MINIKUBE_HOME=/home/vboxuser/.minikube
GITHUB_SSH_KEY=/home/vboxuser/.ssh/id_ed25519
